•{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header{
    background-color:rgb(218, 216, 216);
    width: 400px;
    height: 50px;
}
.button{
    text-align: left;
    background-color: rgb(41, 38, 38);
    color: white;
    width: 400px;
    height: 50px;
}